/* CallToActionButton.css */
.CTAContainer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
  }
  
  .CTAButton {
    background-color: rgb(0, 146, 145);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    margin: 8px 4px;
    cursor: pointer;
  }
  
.CTAButtonTitle{
    font-size: large;
    font-weight: 600;
    margin-bottom: 1%;
}
.CTAButtonSubtitle{
    font-size:medium;
    font-weight: 500;
    margin-bottom: 3%;
}