@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white-100: #ffffff;
  --color-white-200: #e6e6e6;
  --color-white-300: #cccccc;
  --color-white-400: #a6a6a6;
  --color-white-500: #808080;

  --color-black-100: #1a1a1a;
  --color-black-200: #212121;
  --color-black-300: #1a1a1a;
  --color-black-400: #1a1a1a;
  --color-black-500: #1b1b1b;
  --color-black-600: #1c1c1c;
  --color-black-700: #383838;
  --color-black-800: #333333;

  --color-blue-100: #f0f7fb;
  --color-blue-200: #dae8f1;
  --color-blue-300: #c9d7e5;
  --color-blue-400: #add3d9;
  --color-blue-500: #99cccd;
  --color-blue-600: #85a8ac;
  --color-blue-700: #768d9b;
  --color-blue-800: #6b738f;
  --color-blue-900: #594d53;

  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


main {
  overflow: hidden;
  font-family: "Rubik", sans-serif;
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-weight: 400;
  line-height: 1.5;
  height: -webkit-fill-available;
  color: var(--color-white-100);
  background-color: var(--color-black-500);
}

h1, h2, h3, h4, h5, h6, p {
  text-wrap: balance;
}
img, video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.section {
  margin: 0 auto;
  padding: 1rem 0 1rem;
}
.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}
.centered {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1rem;
}


.btn-darken {
  padding: 0.75rem 2rem;
  color: var(--color-white-100);
  background-color: var(--color-black-200);
  box-shadow: var(--shadow-medium);
  border: 1px solid #fff;
}




.banner-column {
  position: relative;
  display: grid;
  align-items: center;
  row-gap: 3rem;
  margin: 0 !important;
}

.banner-column a, button {
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background: none;
  box-shadow: none;
  text-decoration: none !important;
}
@media only screen and (min-width: 48rem) {
  .banner-column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
  }
}
@media only screen and (min-width: 64rem) {
  .banner-column {
    grid-template-columns: 1fr max-content;
    column-gap: 4rem;
    margin-top: 3rem;
  }
}


.banner-links {
  position: absolute;
  top: 30%;
  right: 1.5rem;
  display: grid;
  justify-items: center;
  row-gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
}
@media only screen and (min-width: 64rem) {
  .banner-links {
    opacity: 1;
    visibility: visible;
  }
}
.banner-links > * {
  font-size: 1.25rem;
  line-height: 1.25;
  color: var(--color-white-100);
}
.banner-links::before {
  position: absolute;
  content: "";
  top: -3rem;
  width: 4rem;
  height: 1.5px;
  transform: rotate(90deg);
  background: var(--color-white-100);
}
.banner-links::after {
  position: absolute;
  content: "";
  bottom: -3rem;
  width: 4rem;
  height: 2px;
  transform: rotate(90deg);
  background: var(--color-white-100);
}
