s{
  text-decoration:none;
  position:relative;
}
s::before, strike::before {
    top: 50%; /*tweak this to adjust the vertical position if it's off a bit due to your font family */
    background:red; /*this is the color of the line*/
    opacity:.7;
    content: '';
    width: 110%;
    position: absolute;
    height:.1em;
    border-radius:.1em;
    left: -5%;
    white-space:nowrap;
    display: block;
    transform: rotate(-15deg);  
}
s.straight::before, strike.straight::before{transform: rotate(0deg);left:-1%;width:102%;}

.f16{
  font-size: 16px ;
}
.commonninja_component{
  border-top: 1px solid #ededed;
  padding: 10px 0;
}

.commonninja-ribbon{
  display: none !important;
}


.originalPrice{
  font-size: 25px;
}
.originalPriceProductList{
  font-size: 15px;
}
.juicer-feed h1.referral{
  display: none !important;
}
.originalPriceCart{
  font-size: 15px;
}
.mt5{
    margin-top: 5%;
}
.inputwrapper {
  margin: 13px 0;
  max-width: 100%;
}
/* start: discount flag */
.flag-discount {
  border-radius: 6px 0 0 6px;
  color: #fff;
  display: block;
  float: left;
  padding: 5px 25px;
  background: #93274f;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  z-index: 1000;
}

.flag-discount-productList {
  border-radius: 6px 0 0 6px;
  color: #fff;
  display: block;
  top: 0;
  left:0;
  padding: 2px 15px;
  background: #93274f;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  z-index: 1000;
}

.flag-discount::before,
.flag-discount::after,
.flag-discount-productList::before,
.flag-discount-productList::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  display: block;
}
.flag-discount::before,
.flag-discount-productList::before {
  top: 0;
  border-width: 22px 15px 0 0;
  border-color: #93274f transparent transparent transparent;
}
.flag-discount::after,
.flag-discount-productList::after {
  bottom: 0;
  border-width: 0 15px 22px 0;
  border-color: transparent transparent #93274f transparent;
}
/* end: discount flag */
.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}


.form_button{
    -webkit-tap-highlight-color: transparent; 
    -webkit-touch-callout: none;
    -ms-user-select: none;
    background: #222 none;
    border: 1px solid #222;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0 0 0;
    min-height: 1em;
    padding: 16px 16px 16px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    width: 100%;
    vertical-align: baseline;
}
.label,
.form-label {
  font-size: 13px;
  line-height: 20px;
  clear: both;
  color: #222;
  display: block;
  margin: 6px 0 7px;
  text-transform: none;
}
.form_input {
  border: 1px solid #d0d0d0;
  border-radius: 0;
  box-sizing: border-box;
  color: #222;
  font-size: 16px;
  letter-spacing: normal;
  margin: 0;
  padding: 14px 25px 14px 10px;
  width: 100%;
}
.required .label::after,
input[type="checkbox"][required] + .checkbox-label::after {
  color: #d6001c;
  content: " *";
}
.input-info {
  font-size: 11px;
  line-height: 16px;
  display: block;
  letter-spacing: normal;
  margin: 5px 0 0;
  color: #d6001c;
}

.checkbox-larger{
  height: 22px;
  width: 22px;
}
.checkbox-label-larger{
  font-size: 18px !important;
  padding-left: 26px !important;
}

.overlay {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vw;
  z-index: 100;
  cursor: pointer;
  transition: opacity .3s;
}

/*
input:invalid[focused="true"] {
  border: 1px solid red;
}
*/

.cookies_container{
  height: 100%;
  width: 100%;
}
.react-cookie-law-manage-btn, .react-cookie-law-save-btn{
  border: 1px solid black !important;
  background: white !important;
  padding: 9px !important;
}
.react-cookie-law-manage-btn, .react-cookie-law-save-btn span {
  color: black !important;
}

input.invalid {
  border: 1px solid #c1282d;
  outline: none;
}

.hide_in_mobile{
  display: block;
}

.checkbox-label {
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    line-height: 1.6em;
    margin-left: 4px;
    padding-left: 18px;
    text-align: left;
}
.inputwrapper .checkbox-input {
    margin-top: 3px;
}
.inputwrapper .checkbox-input, .inputwrapper .radio-input {
    float: left;
    margin-top: 3px;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
}
.checkbox-view-more-link {
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    line-height: 1.6em;
    margin-left: 4px;
    padding-left: 18px;
}

@media (max-width: 600px) {
  .hide_in_mobile {
    display: none;
  }
  .react-cookie-law-dialog {
    width: 100% !important;
  }
  .flag-discount-productList,
  .flag-discount {
    padding: 2px 15px;
    font-size: 16px;
  }
}



/* start: our story */
.projects-section {
  padding: 0 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #00d8d6;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #00d8d6;
    border-width: .25rem;
    width: 30%;
  }
}
/* end: our story */